<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

	<property name="LOG_HOME" value="logs" />
	<property name="LOG_PATTERN"
		value="%logger{36} %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n" />
	<timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>
	
	<!-- 로그를 파일에 출력해주는 어펜더. -->
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}/log-${bySecond}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- 일간 갱신. -->
			<fileNamePattern>${LOG_HOME}/daily-log.log.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- 30일간 저장. -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
	</appender>
	
	<!-- 로그를 콘솔에 출력해주는 어펜더. -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				${LOG_PATTERN}
			</pattern>
		</encoder>
	</appender>
	
	<!-- org.springframework에서 발생한 info 단계의 내역을 아래의 appender에 찍는다. -->
	<logger name="org.springframework" level="info">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</logger>

	<!-- turn OFF all logging (children can override) -->
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>