<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>글 리스트</title>
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="../../../static/js/jquery.form.js" th:src="@{/js/jquery.form.js}"></script>
<script src="../../../static/js/jquery.MultiFile.js" th:src="@{/js/jquery.MultiFile.js}"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" />
<script type="text/javascript">
$(function(){
	$('.photo_uploader').MultiFile({
		max: 1, //업로드 최대 파일 갯수 (지정하지 않으면 무한대)
        accept: 'jpg|png|gif', //허용할 확장자(지정하지 않으면 모든 확장자 허용)
        maxfile: 1024, //각 파일 최대 업로드 크기
        maxsize: 3024,  //전체 파일 최대 업로드 크기
        STRING: { //Multi-lingual support : 메시지 수정 가능
            remove : "제거", //추가한 파일 제거 문구, 이미태그를 사용하면 이미지사용가능
            duplicate : "$file 은 이미 선택된 파일입니다.", 
            denied : "$ext 는(은) 업로드 할수 없는 파일 확장자입니다.",
            selected:'$file 을 선택했습니다.', 
            toomuch: "업로드할 수 있는 최대 크기를 초과하였습니다.($size)", 
            toomany: "업로드할 수 있는 최대 갯수는 $max개 입니다.",
            toobig: "$file 은 크기가 매우 큽니다. (max $size)"
        }
	});
	
    $('#upload').ajaxForm({
            beforeSubmit: function (data,form,option) {
                //validation체크 
                var photo = $('input[type=file]').val();
            	var content = $('#content').val();
            	var password = $('#password').val();
            	
            	/*
            	if('' === photo || undefined === photo){
            		alert("이미지를 선택하세요.");
            		return false;
            	}
            	*/
            	
            	if('' === content || undefined === content){
            		alert("글을 작성해 주세요.");
            		return false;
            	}
            	
            	if('' === password || undefined === password){
            		alert("비밀번호를 설정해 주세요.");
            		return false;
            	}
                
                return true;
            },
            success: function(response,status){
                //성공 후 서버에서 받은 데이터 처리
                alert("업로드 성공 - " + response);
                $('#myModal').modal('hide');
                location.href="/list";
            },
            error: function(e){
                alert('이미지 업로드를 하지 못하였습니다.');
                console.log(e);
            }                               
        });
});

function initContent(){
	$('#content').val('');
	$('#password').val('');
}

function deletePost(type, currentUser, uploader, postId){
	
	console.log(type + " , " + currentUser + " , " + uploader + " , " + postId)
	
	if(currentUser !== uploader){
		alert('자신의 게시물만 삭제할 수 있습니다.');
		return;
	}
	
	$.ajax({      
        type:"GET",  
        url:"/delete",      
        data : {
        	type : type,
        	postId : postId
        },
        success:function(data){   
        	alert('글 삭제에 ' + data);
            location.href = '/list';
        },   
        error:function(e){ 
            alert('삭제중 중 오류가 발생했습니다.');  
        }  
    });
}

function logout(){
	$.ajax({      
        type:"POST",  
        url:"/logout",      
        success:function(data){   
        	alert('로그아웃에 ' + data);
            location.href = '/form/login';
        },   
        error:function(e){ 
            alert('로그아웃 중 오류가 발생했습니다.');  
        }  
    });
}

$(window).scroll(function() {
    if ($(window).scrollTop() == $(document).height() - $(window).height()) {
        $('#footer').fadeOut('fast');
    }else{
    	$('#footer').fadeIn('fast');
    }
});

function openModal(){
	
	var args = arguments;
	
	if(args[0] === 'post'){
		//writePost(args[1]);
		$('input[type=hidden]').val('post');
	}else if(args[0] === 'reply'){
		//reply(args[1], args[2], $('#content').val(), $('#password').val());
		$('input[type=hidden]').val('reply#' + args[1]);
	}else if(args[0] === 'reply_on_reply'){
		$('input[type=hidden]').val('reply_on_reply#' + args[1]);
	}
	
	console.log($('input[type=hidden]').val());
	
	// 전송 역할을 하는 모달내의 버튼 클릭시 발생할 콜백 함수. 
	var callback = function(){
		$('#postModal').modal('hide');
	};
	
	// 입력 폼 초기화 후 보여주기.
	initContent();
	$('#postModal').modal('show');
	
	// 클릭시 수행될 콜백함수 지정.
	$('#postModal #sendButton').click(callback);
	
	// 모달이 화면에서 사라졌을 때 이벤트 지정. 버튼에 지정해둔 모든 콜백함수를 제거한다.
	$('#postModal').on('hidden.bs.modal', function (e) {
		$('#postModal #sendButton').unbind();
	});
}
</script>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"> Pilot Project </a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<!-- 다음과 같이 session을 통하여 세션객체에 접근할 수 있다 -->
				<li><a th:text="'환영합니다 ' + ${session.userInfo.name} + '님'"></a></li>
				<!-- onclick()에서 false를 반환받게 되면 앵커태그는 주소를 이동하지 않는다. -->
				<li><a href="#" th:onclick="'openModal(\'post\', \''+${session.userInfo.email}+'\'); return false;'"> 글쓰기 </a></li>
				<li><a href="#" onclick="logout(); return false;"> 로그아웃 </a></li>
			</ul>
		</div>
	</nav><!-- 네비게이션 헤더 -->

	<table>
		<tr th:each="post: ${posts}"><!-- post는 ListController 클래스 내의 PostDTO 객체이다. -->
			<td class="col-md-1">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div>
							<div>
								<span class="badge" th:text="${post.user.name}">작성자</span>
								<span class="badge" th:text="'댓글 ' + ${post.replySize} + '개'">댓글 갯수</span>
								<span class="badge" th:text="${#dates.format(post.post.regdate, 'yyyy년 MM월 dd일 - hh시 mm분 ss초')}">작성일</span>
								<a th:onclick="'openModal(\'reply\', \''+${post.post.id}+'\');'">답글</a>
								<a th:onclick="'deletePost(\'post\', \''+${session.userInfo.id}+'\', \''+${post.post.user}+'\', \''+${post.post.id}+'\');'">삭제</a>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6 col-md-3">
							 <div th:switch="${post.post.image}">
							 	<div th:case="null"></div>
							 	<a th:case="*" href="#" class="thumbnail" onclick="return false;">
							 		<img class="img-thumbnail" th:src="@{/images/} + ${post.post.image}" alt="..."/>
							 	</a>
							 </div>
						</div>
					</div>
					<div class="panel-body" th:text="${post.post.content}">게시글 내용</div>
						<div class="panel-footer" th:each="reply: ${post.post.replies}">
							<div th:style="'margin-left:' + (20 * ${reply.depth}) + 'px;'">
								<div>
									<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> 
									<b th:text="${reply.user.name}">댓글 게시자</b>
									<small th:text="'(' + ${#dates.format(reply.regdate, 'yyyy년 MM월 dd일 hh시 mm분 ss초') + ')'}">댓글 게시일자</small>
									<a th:onclick="'openModal(\'reply_on_reply\', \''+${reply.id}+'\');'">답글</a>
									<a th:onclick="'deletePost(\'reply\', \''+${session.userInfo.id}+'\', \''+${reply.user.id}+'\', \''+${reply.id}+'\');'">삭제</a>
								</div>
								<div th:switch="${reply.image}">
								 	<div th:case="null"></div>
								 	<img th:case="*" class="img-thumbnail" th:src="@{/images/} + ${reply.image}" alt="..."/>
								 </div>
								<p th:text="${reply.content}" style="margin: 15px;">답글 내용</p>
							</div>
						</div>
				</div>
			</td>
		</tr>
	</table>

	<nav class="navbar navbar-default navbar-fixed-bottom" id="footer">
	  <div class="container" style="text-align: center;">
	    <ul class="pagination">
	    	<!-- class="disabled" 시 마우스 클릭 불가 -->
		    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
		    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
		    <li><a href="#">2 <span class="sr-only">(current)</span></a></li>
		    <li><a href="#">3 <span class="sr-only">(current)</span></a></li>
		    <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
	  	</ul>
	  </div>
	</nav><!-- 네비게이션 풋터 -->

	<!-- <div class="modal fade" th:include="inputModal :: [//div[@id='modal']]" id="myModal"></div> -->
	<div class="modal fade" id="postModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">입력창</h4>
				</div>
				<form name="upload" id="upload" action="/upload" method="POST" enctype="multipart/form-data">
					<div class="modal-body">
						<div class="form-group">
							<label for="content">글 쓰기</label> 
							<!-- 이미지 업로드 태그의 name은 photo -->
							<input type="file"
								class="photo_uploader with-preview" accept="gif|jpg|png"
								name="photo" maxlength="1" />
							<!-- 글 내용의 태그 name은 content -->
							<textarea class="form-control" id="content" name="content"
								placeholder="글을 입력하세요" rows="6" style="margin-top: 10px;"></textarea>
							<!-- 패스워드 태그의 name은 password -->
							<input type="password" class="form-control" id="password" name="password" 
								required="required" placeholder="비밀번호를 입력하세요."
								style="margin-right: 20px; margin-top: 15px;" />
								<input type="hidden" name="type" value=""/>
						</div>
					</div>
					<div class="modal-footer">
						<!-- th:onclick="'writePost(\''+${session.userInfo.email}+'\');'" -->
						<button type="submit" class="btn btn-primary" id="upload_button">확인</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
					</div>
				</form>
			</div>
		</div>
	</div><!-- 글 입력 모달 -->
</body>
</html>