<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>글 리스트</title>
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="../../../static/js/jquery.form.js" th:src="@{/js/jquery.form.js}"></script>
<script src="../../../static/js/jquery.MultiFile.js" th:src="@{/js/jquery.MultiFile.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" />
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"> Pilot Project </a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<!-- 다음과 같이 session을 통하여 세션객체에 접근할 수 있다 -->
				<li><a th:text="'환영합니다 ' + ${session.userInfo.name} + '님'"></a></li>
				<!-- onclick()에서 false를 반환받게 되면 앵커태그는 주소를 이동하지 않는다. -->
				<li><a href="#" th:onclick="'openModal(\'post\', \''+${session.userInfo.email}+'\'); return false;'"> 글쓰기 </a></li>
				<li><a href="#" onclick="logout(); return false;"> 로그아웃 </a></li>
			</ul>
		</div>
	</nav><!-- 네비게이션 헤더 -->

	<table>
		<tr th:each="post: ${posts}"><!-- post는 ListController 클래스 내의 PostDTO 객체이다. -->
			<td class="col-md-1">
				<div class="panel panel-default">
				
					<!-- 게시글 폼 -->
					<div class="panel-heading">
						<div>
							<div>
								<span class="badge" th:text="${post.user.name}">작성자</span>
								<!-- <span class="badge" th:text="'댓글 ' + ${post.replySize} + '개'">댓글 갯수</span> -->
								<span class="badge" th:text="${#dates.format(post.post.regdate, 'yyyy년 MM월 dd일 - hh시 mm분 ss초')}">작성일</span>
								<a th:onclick="'openModal(\'reply\', \''+${post.post.id}+'\');'">답글</a>
								<a th:onclick="'editArticle(\'edit_post\', \''+${post.post.id}+'\', \''+${session.userInfo.id}+'\', \''+${post.post.user.id}+'\');'">수정</a>
								<a th:onclick="'deleteArticle(\'post\', \''+${session.userInfo.id}+'\', \''+${post.post.user.id}+'\', \''+${post.post.id}+'\');'">삭제</a>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6 col-md-3">
							 <div th:switch="${post.post.image}">
							 	<div th:case="null"></div>
							 	<a th:case="*" href="#" class="thumbnail" onclick="return false;" style="margin-left: 15px; margin-top: 10px;">
							 		<img class="img-thumbnail" th:src="@{/images/} + ${post.post.image}" alt="..."/>
							 	</a>
							 </div>
						</div>
					</div>
					<div class="panel-body" th:text="${post.post.content}">게시글 내용</div>
					<!-- 댓글 폼 -->
					<div class="panel-footer" th:each="reply: ${post.replies}">
						<div th:style="'margin-left:' + (20 * ${reply.depth}) + 'px;'">
							<div>
								<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> 
								<b th:text="${reply.user.name}">댓글 게시자</b>
								<small th:text="'(' + ${#dates.format(reply.regdate, 'yyyy년 MM월 dd일 hh시 mm분 ss초') + ')'}">댓글 게시일자</small>
								<a th:onclick="'openModal(\'reply_on_reply\', \''+${reply.id}+'\');'">답글</a>
								<a th:onclick="'editArticle(\'edit_reply\', \''+${reply.id}+'\', \''+${session.userInfo.id}+'\', \''+${reply.user.id}+'\');'">수정</a>
								<a th:onclick="'deleteArticle(\'reply\', \''+${session.userInfo.id}+'\', \''+${reply.user.id}+'\', \''+${reply.id}+'\');'">삭제</a>
							</div>
							<div th:switch="${reply.image}">
							 	<div th:case="null"></div>
							 	<img th:case="*" class="img-thumbnail" th:src="@{/images/} + ${reply.image}" alt="..."/>
							 </div>
							<p th:text="${reply.content}" style="margin: 15px;">답글 내용</p>
						</div>
					</div>
				</div>
			</td>
		</tr>
	</table>

	<nav class="navbar navbar-default navbar-fixed-bottom" id="footer">
	  <div class="container" style="text-align: center;">
	    <ul class="pagination">
	    	<!-- class="disabled" 시 마우스 클릭 불가 -->
		    <li class="disabled" id="previous"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
		    <!-- <li class="active"><a href="/list?page=0">1 </a></li>
		    <li><a href="/list?page=1">2 </a></li>
		    <li><a href="/list?page=2">3 </a></li> -->
		    <li id="next"><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
	  	</ul>
	  </div>
	</nav><!-- 네비게이션 풋터 -->

	<!-- <div class="modal fade" th:include="inputModal :: [//div[@id='modal']]" id="myModal"></div> -->
	<div class="modal fade" id="postModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">입력창</h4>
				</div>
				<form name="upload" id="upload" action="/upload" method="POST" enctype="multipart/form-data">
					<div class="modal-body">
						<div class="form-group">
							<label for="content">글 쓰기</label> 
							<!-- 이미지 업로드 태그의 name은 photo -->
							<input type="file"
								class="photo_uploader with-preview" accept="gif|jpg|png"
								name="photo" maxlength="1" />
							<!-- 글 내용의 태그 name은 content -->
							<textarea class="form-control" id="content" name="content"
								placeholder="글을 입력하세요" rows="6" style="margin-top: 10px;"></textarea>
							<input type="hidden" name="type" value=""/>
						</div>
					</div>
					<div class="modal-footer">
						<!-- th:onclick="'writePost(\''+${session.userInfo.email}+'\');'" -->
						<button type="submit" class="btn btn-primary" id="upload_button">확인</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
					</div>
				</form>
			</div>
		</div>
	</div><!-- 글 입력 모달 -->
	
	<script src="../../../static/js/ajax/ajax.js" th:src="@{/js/ajax/ajax.js}"></script>
	<script src="../../../static/js/common/common.js" th:src="@{/js/common/common.js}"></script>
	<script src="../../../static/js/multipart/multipart.js" th:src="@{/js/multipart/multipart.js}"></script>
</body>
</html>