<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>로그인</title>
<script th:src="@{/bower_components/jQuery/dist/jquery.min.js}"></script>
<script th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
<link rel="stylesheet" th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/bower_components/bootstrap/dist/css/bootstrap-theme.min.css}" />
<script th:inline="javascript">
$(function(){
	/*<![CDATA[*/

	var message = /*[[${message}]]*/

	if(message != null){
		alert(message);
	}
	/*]]>*/
});
</script>
</head>
<body>
	<div class="container">
		<div class="wrapper">
			<form action="/form/login" method="post" name="login_Form"
				class="form-signin">
				<h3 class="form-signin-heading center-block">댓글 게시판</h3>
				<hr class="colorgraph" />
				<br />
				<div class="col-md-4"></div>
				<div class="col-md-4">
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon1">메일</span> 
							<input
								type="email" class="form-control" name="email"
								required="required" autofocus="autofocus" placeholder="메일주소를 입력하세요."
								aria-describedby="basic-addon1" />
						</div>
						<div class="input-group" style="margin-top: 5px">
							<span class="input-group-addon" id="basic-addon1">암호</span> 
							<input
								type="password" class="form-control" name="password"
								required="required" placeholder="비밀번호를 입력하세요."
								aria-describedby="basic-addon1" />
						</div>

					<div class="submit-form">
						<button class="btn btn-lg btn-primary btn-block" name="submit"
							value="login" type="submit">로그인</button>
						<button class="btn btn-lg btn-primary btn-block" name="submit"
							value="join" type="button" onclick="location.href='/form/join'">회원가입</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>